@{
    ViewData["Title"] = "Home Page";
}

<style>
    .Botones {
        width: 400px;
        height: 50px;
        color: white;
        background: #333333;
        border: none;
        border-radius: 2px;
    }

        .Botones:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1);
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
        }
</style>

<div  class="d-grid gap-2">
    <form>     
        <button name="num" value="0" class="Botones" asp-action="check">Lista Artesanal</button> <br /><br />
        <button name="num" value="1" class="Botones" asp-action="check">Lista C#</button><br /><br />       
    </form>
</div>

